@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .container {
    @apply max-w-screen-xl px-6 mx-auto;
  }
  .hero-text-faded {
    color: #ffffff80;
  }
  .btn {
    @apply px-8 py-3.5 font-bold;
  }
  .btn-primary {
    background-color: var(--accent-clr);
    @apply text-white;
  }
  .btn-transparent {
    color: var(--text-primary-clr);
    border: 1px solid var(--text-primary-clr);
    @apply bg-transparent;
  }
  .btn-black {
    background-color: var(--text-primary-clr);
    color: white;
  }
}

@layer base {
  :root {
    --base-background: white;
    --accent-clr: #d87d4a;
    --accent-clr-highlight: #ec9d6e;
    --text-primary-clr: #191919;
    --text-secondary-clr: rgba(0, 0, 0, 0.5);
  }
}

@layer components {
  .hero {
    position: relative;
    z-index: 100;
    &::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: -10%;
      z-index: -20;

      @apply bg-hero-mobile bg-no-repeat bg-center 
      bg-[length:min(100%,380px)] sm:bg-hero-tablet 
      sm:bg-contain sm:scale-[115%] lg:bg-hero-desktop;
    }
  }
}
