@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --base-background: rgb(250, 250, 250);
    --accent-clr: #d87d4a;
    --accent-clr-highlight: #ec9d6e;
    --text-primary-clr: #191919;
    --text-secondary-clr: rgba(0, 0, 0, 0.5);
    --category-faded-text-clr: #00000080;
    --grey-box: #f1f1f1;
    --category-text: #00000080;
    --orange-box-text: white;
    --orange-box-text-faded: #ffffffbf;
    --text-temporary: #191919;
    --text-temporary-faded: #00000080;
    --footer-divider: transparent;
    --category-page-hero-divider: transparent;

    --theme-switcher-button-active-bg: #e6e6e6;
    --theme-switcher-button: #666666;
    --theme-switcher-button-active: #171717;
    --theme-switcher-border: #3e3d3d;

    --placeholder-clr: #efefef;

    --bg-invesre: #191919;
    --text-inverse: #fff;
  }

  html.dark {
    --base-background: #191919;
    --grey-box: #aaa;
    --category-text: #000000a8;
    --orange-box-text: #191919;
    --orange-box-text-faded: #191919bf;
    --text-temporary: #fff;
    --text-temporary-faded: #ffffff80;
    --footer-divider: #ffffff15;
    --category-page-hero-divider: var(--accent-clr);

    --theme-switcher-button-active-bg: #292929;
    --theme-switcher-button: #a1a1a1;
    --theme-switcher-button-active: #ededed;

    --placeholder-clr: #363636;

    --bg-invesre: #fff;
    --text-inverse: #191919;
  }

  html.system {
    @media (prefers-color-scheme: dark) {
      --base-background: #191919;
      --grey-box: #aaa;
      --category-text: #000000a8;
      --orange-box-text: #191919;
      --orange-box-text-faded: #191919bf;
      --text-temporary: #fff;
      --text-temporary-faded: #ffffff80;
      --footer-divider: #ffffff15;
      --category-page-hero-divider: var(--accent-clr);

      --theme-switcher-button-active-bg: #292929;
      --theme-switcher-button: #a1a1a1;
      --theme-switcher-button-active: #ededed;

      --placeholder-clr: #363636;

      --bg-invesre: #fff;
      --text-inverse: #191919;
    }
  }

  body::-webkit-scrollbar {
    @apply w-[0.56em] xl:w-[0.75em] 2xl:w-[1.2em];
  }

  body::-webkit-scrollbar-track {
    @apply bg-[var(--text-primary-clr)];
  }
  body::-webkit-scrollbar-thumb {
    @apply bg-[var(--accent-clr)] rounded-lg border-[var(--text-primary-clr)] border-solid  
    border-[0.15em] 2xl:border-[0.25em];
  }

  body::-webkit-scrollbar-thumb:hover {
    @apply transition-colors bg-[var(--accent-clr-highlight)];
  }

  @supports not selector(::-webkit-scrollbar) {
    html {
      scrollbar-width: thin;
      scrollbar-color: var(--accent-clr) var(--text-primary-clr);
    }
  }
}

@layer utilities {
  .container {
    @apply max-w-screen-xl px-6 mx-auto;
  }

  .btn {
    @apply px-8 py-3.5 font-bold;
  }

  .btn-primary {
    @apply text-white bg-[var(--accent-clr)];
  }

  .btn-transparent {
    @apply bg-transparent transition-colors hover:bg-[var(--text-primary-clr)]
     hover:text-white block text-sm w-fit tracking-wide 
     text-[var(--text-primary-clr)] border border-[var(--text-primary-clr)];
  }
}

@layer components {
  .hero {
    @apply relative z-20;

    &::before {
      @apply bg-hero-mobile bg-no-repeat bg-center 
      bg-[length:min(100%,380px)] sm:bg-hero-tablet 
      sm:bg-contain sm:scale-[115%] lg:bg-hero-desktop
      content-[''] w-full h-full absolute left-0 -top-[10%] -z-20;
    }
  }

  footer {
    position: relative;

    &::before,
    &::after {
      @apply content-[''] absolute h-1 top-0;
    }

    &::before {
      @apply w-full left-0 bg-[var(--footer-divider)];
    }

    &::after {
      @apply w-[6.25rem] bg-[var(--accent-clr)] left-1/2 -translate-x-1/2;
    }
  }

  .themeSwitcher > li.active {
    @apply bg-[var(--theme-switcher-button-active-bg)] text-[var(--theme-switcher-button-active)];
  }

  .categories-hero {
    position: relative;

    &::after {
      transition: background-color 1.75s ease-in-out;
      @apply content-[''] absolute bottom-0 left-1/2 h-[5px] -translate-x-1/2 bg-[var(--category-page-hero-divider)];
    }
  }

  .placeholder-image {
    position: relative;

    &::after {
      @apply animate-pulse rounded-lg content-[''] absolute top-0 left-0 w-full h-full opacity-100 bg-[var(--placeholder-clr)];
    }
    img {
      opacity: 0;
    }
  }

  .placeholder-box {
    @apply bg-[var(--placeholder-clr)] animate-pulse rounded-lg;
  }

  .fade-in {
    opacity: 0;
    transition: opacity 0.63s ease-in;
  }

  .fade-in.appear {
    opacity: 1;
  }

  .from-left,
  .from-right {
    transition: transform 0.75s ease-in, opacity 1s ease-in;
    opacity: 0;
  }

  .from-right {
    transform: translateX(50%);
  }
  .from-left {
    transform: translateX(-50%);
  }

  .from-left.appear,
  .from-right.appear {
    transform: translateX(0);
    opacity: 1;
  }

  .hero > div,
  .hero::before {
    opacity: 0;
  }
  .hero > div {
    transition: opacity 0.75s ease-in 0.95s;
  }
  .hero::before {
    transition: opacity 0.75s ease-in;
  }

  .hero.appear > div,
  .hero.appear::before {
    opacity: 1;
  }

  .cartWrapper::-webkit-scrollbar {
    width: 0.32em;
  }
  .cartWrapper::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  .cartWrapper::-webkit-scrollbar-thumb {
    @apply bg-[var(--accent-clr)] rounded-md;
  }

  @supports not selector(::-webkit-scrollbar) {
    .cartWrapper {
      scrollbar-width: thin;
      scrollbar-color: var(--accent-clr) transparent;
    }
  }
}
